
/* Define CSS variables for badge colors */
:root {
    --unreal-engine: #374653;
    --unity: #FF6347;
    --web-development: #32CD32;
    --game-development: #FFD700;
    --multiplayer: #FF4500;
    --mobile-development: #FF8C00;
    --gameplay-programming: #8B008B;
    --tooling: #3e833e;
}

/* Assign colors to each badge by ID */
sl-badge#unreal-engine::part(base) {
    background-color: var(--unreal-engine);
}

sl-badge#unity::part(base) {
    background-color: var(--unity);
}

sl-badge#web-development::part(base) {
    background-color: var(--web-development);
}

sl-badge#game-development::part(base) {
    background-color: var(--game-development);
}

sl-badge#multiplayer::part(base) {
    background-color: var(--multiplayer);
}

sl-badge#mobile-development::part(base) {
    background-color: var(--mobile-development);
}

sl-badge#gameplay-programming::part(base) {
    background-color: var(--gameplay-programming);
}

sl-badge#tooling::part(base) {
    background-color: var(--tooling);
}