h3,
p {
    margin: 0;
}

.blog-overview-container {
    display: flex;
    flex-direction: column;
}

.blog-overview {
    max-height: 20vh;
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: 1px solid grey;
    display: flex;
    grid-template-columns: 1fr 3fr;

    button {
        justify-self: right;
    }

    @media screen and (max-width: 736px) {
        max-height: fit-content;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        gap: 2rem;

        button {
            justify-self: center;
            align-self: center;
            margin: auto;
        }
    }

}


h5 {
    font-size: large !important;
}
.blog-open-button {
    margin-left: auto;
    justify-self: flex-end;
    align-self: flex-end;
}

.blog-desc {
    line-height: 2em;
}


#blog-img {
    display: block;
    width: 20%;
    max-width: 200px;
    aspect-ratio: 1 /1;
    object-fit: contain;

    @media screen and (max-width: 736px) {
        width: 50%;
        height: 50%;
        margin: auto;
        justify-content: center;
        align-self: center;
    }
}