.project-header {
    text-align: center;

    p {
        text-align: center;
    }
}

.button-group-toolbar sl-button-group {
    margin-right: var(--sl-spacing-x-large);
}

/* Showreel */

.showreel-container {
    display: flex;
    padding: 2rem;
}

.showreel-video {
    border-radius: 24px;
    margin: auto;
    justify-self: center;
    align-self: center;
    height: 450px;
    width: 800px;

    @media screen and (max-width: 736px) {
        height: 100%;
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}

.showreel-section {
    padding: 0 !important;
}

.posts {
    background-color: hsl(34, 24%, 88%);
}

.project-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

category-selector {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    @media screen and (max-width: 736px) {}
}

.category-button {
    background-color: rgb(221, 221, 221);
    font-size: small;
    border: none;
    border-radius: 4px;
    padding: 1em !important;
    margin: 0 !important;
    line-height: normal;
    height: fit-content !important;

    @media screen and (max-width: 736px) {
        font-size: x-small;
    }
}

.category-button.selected {
    background-color: white;
}

.category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label.ToggleNDA::before {
        border-radius: 8px;
    }
}

/* About Me */

.about-me {
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;
    padding: 2rem 10%;

    h5,
    h4 {
        margin: 0 !important;
    }

    p {
        line-height: 1.5rem;
    }

    @media screen and (max-width: 736px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

#about-me-icon {
    width: 80%;
    margin: auto;
    justify-content: center;
    align-self: center;
    aspect-ratio: 1/1 !important;
    border-radius: 24px;
}