/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* Active Modal */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Modal Content */
.modal-content {
  background: rgb(240, 255, 224);
  width: 80%;
  height: 95vh;
  max-width: 1400px;
  min-height: 80vh;
  overflow-y: auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  position: relative;
  animation: modalFadeIn 0.3s ease;

    @media screen and (max-width: 736px) {
        width: 100%;
    }
}

@keyframes modalFadeIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Close Button */
.close-modal {
  z-index: 3;
  background-color: white;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  border-radius: 12px;
  padding: 0px;
  height: 64px !important;
  width: 64px !important;

    @media screen and (max-width: 736px) {
      top : auto;
      right: 8px;
      bottom : 8px;
  }
}

.close-modal:hover {
  background-color: #f2f2f2;
  color: #d32f2f !important;
  transition: background 0.2s, color 0.2s;
}